* {
    box-sizing: border-box;
}

.underdevelopment {
    padding-top: 60px;
    text-align: center;
    font-size: large;
}

.head {
    font-size: 18px;
    font-family: "Courier New";
    width: 100%;
    height: 60px;
    float: left;
    background: teal;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.foot {
    font-size: 18px;
    font-family: "Courier New";
    width: 100%;
    height: 60px;
    float: left;
    background: teal;
    opacity: 1;
    position: relative;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: white;
}

.logo {
    width: 25px;
    height: 25px;
}

.nav1 {
    float: left;
    padding: 10px;
    position: relative;
}

.nav2 {
    float: right;
    padding: 10px;
    position: relative;
}

.bookform {
    color: black;
    text-align: center;
    font-family: "Courier New";
    font-family: "Garamond";
    font-size: 16px;
}

input[type=text] {
    width: 320px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid teal;
}

input[type = date]{
    width: 320px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid teal;
}

input[type=number]{
	width: 320px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
	border:2px solid teal;
}
/* select{
	width: 150px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
	border:2px solid green;
} */

input[type=submit] {
    width: 320px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid teal;
    background: teal;
}